.prose {
  .astro-code {
    @apply dark:!bg-gray-900;
  }
  /* code block line number for shiki */
  @supports (counter-reset: step) {
    .astro-code code {
      counter-reset: step;
    }
    .astro-code code .line::before {
      content: counter(step);
      counter-increment: step;
      width: 1.4em;
      margin-right: 0.8rem;
      display: inline-block;
      direction: rtl;
      color: rgba(139, 148, 158, 0.75);
    }

    /* 选择最后一行并重置计数器 */
    .astro-code code .line:last-child::before {
      content: ""; /* 删除最后一行的内容 */
      counter-increment: 0; /* 不递增计数器 */
      display: none;
    }
  }

  .math {
    overflow: auto;
  }
  table {
  }
  .contains-task-list {
    /* padding-left: 0; */
    list-style: none;
    @apply space-y-1.5;
    .task-list-item {
      position: relative;
      [type="checkbox"] {
        position: absolute;
        transform: translate(calc(-100% - 0.375em), 0.15em);
      }
    }
  }
}
